.card {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background: linear-gradient(135deg, #283534c2 0%, #1b2726b0 100%);
}

.title {
  color: #dbdbdb;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.description {
  font-size: 14px;
  color: #c0c0c0;
  margin-bottom: 12px;
}

.techs {
  color: #e7e7e7;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 12px;
  justify-content: center;
}

.badge {
  font-size: 12px;
  padding: 4px 8px;
  background-color: #242323;
  border-radius: 4px;
}

.link {
  font-size: 14px;
  font-weight: 500;
  color: #cfcfcf;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.link:hover {
  color: #cfcfcf;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fcfcfc;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
