#root {
  /* width: 65%; */
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  margin-top: 80px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
